---
layout: page
title: Frequently Asked Questions
featured_image: /assets/img/faq-banner.webp
date: 2024-04-14
---

<style>
  /* FAQ accordion icon toggle */

  /* Default (collapsed) state */
  .accordion-button .collapse-open {
    display: none;
  }

  .accordion-button .collapse-close {
    display: inline-block;
  }

  /* Expanded state */
  .accordion-button[aria-expanded="true"] .collapse-open {
    display: inline-block;
  }

  .accordion-button[aria-expanded="true"] .collapse-close {
    display: none;
  }
</style>

{% for group in site.data.faq.groups %}
  <h5 class="my-4">{{ group.name }}</h5>

  <div class="accordion" id="accordionFaq-{{ forloop.index }}">
    {% for question in group.questions %}
      {% assign qid = question.question | slugify %}

      <div class="accordion-item mb-3">
        <h6 class="accordion-header" id="heading-{{ qid }}">
          <button
            class="accordion-button collapsed border-bottom font-weight-bold text-start position-relative"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse-{{ qid }}"
            aria-expanded="false"
            aria-controls="collapse-{{ qid }}"
          >
            {{ question.question }}

            <i class="collapse-close material-icons me-2 text-lg align-middle pt-1 position-absolute end-0">
              expand_more
            </i>
            <i class="collapse-open material-icons me-2 text-lg align-middle pt-1 position-absolute end-0">
              expand_less
            </i>
          </button>
        </h6>

        <div
          id="collapse-{{ qid }}"
          class="accordion-collapse collapse"
          aria-labelledby="heading-{{ qid }}"
          data-bs-parent="#accordionFaq-{{ forloop.parentloop.index }}"
        >
          <div class="accordion-body">
            {{ question.answer | markdownify }}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endfor %}
