<footer class="footer pt-5 mt-5">
  <div class="container">
    <div class=" row">
      <div class="col-md-3 mb-4 ms-auto">
        <div>
          <a href="https://basuhoward.org">
            <img src="{{ '/assets/img/identity/bh-flag-1x1.svg' | relative_url }}" class="mb-3 basu-howard-flag" alt="Basu-Howard Banner">
            <h6 class="font-weight-bolder mb-0">krigsvold.org</h6>
            <h6 class="font-weight-bolder mb-4">A website of the House of Basu-Howard</h6>
          </a>
        </div>
      </div>

      {% for item in site.data.settings.footer_menu_settings.menu_items %}
      {% unless item.submenu_items %}
      <div class="col-md-2 col-sm-6 col-6 mb-4">
        <div>
          <h6 class="text-sm">{{ item.title }}</h6>
          <ul class="flex-column ms-n3 nav">
          </ul>
        </div>
      </div>
      {% else %}
      <div class="col-md-2 col-sm-6 col-6 mb-4">
        <div>
          <h6 class="text-sm">{{ item.title }}</h6>
          <ul class="flex-column ms-n3 nav">
            {% for subitem in item.submenu_items %}
            <li class="nav-item">
              <a class="nav-link" href="{{ subitem.url | relative_url }}" {% if subitem.target %} target="{{ subitem.target }}" {% endif %} >
                {{ subitem.title }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endunless %}
      {% endfor %}

      <div class="col-12">
        <div class="text-center">
          <p class="text-dark my-4 text-sm font-weight-normal">
            All rights reserved. Copyright &copy; 2023-{{ 'now' | date: "%Y" }} by <a href="https://basuhoward.org" target="_blank">the House of Basu-Howard</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
