<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="icon" href="/assets/img/identity/favicon.svg" type="image/svg+xml">

  {% assign keywords = "" %}
  {% if page.keywords %}
    {% for keyword in page.keywords %}
      {% assign keywords = keywords | append: keyword | append: ", " %}
    {% endfor %}
  {% else %}
    {% for keyword in site.keywords %}
      {% assign keywords = keywords | append: keyword | append: ", " %}
    {% endfor %}
  {% endif %}
  {% assign keywords = keywords | append: site.title %}

  {% assign desc = page.content | markdownify | strip_html | truncatewords: 30 %}
  {% if page.subtitle %}
    {% assign desc = page.subtitle | markdownify | strip_html | strip_newlines %}
  {% endif %}

  {% assign featured_image = "/assets/img/home-banner.webp" | relative_url %}
  {% if page.featured_image %}
    {% assign featured_image = page.featured_image %}
  {% endif %}

  <title>{{ page.title }}</title>

  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

  <meta name="title" content="{{ page.title }} - {{ site.title }}" />
  <meta name="author" content="James" />
  <meta name="description" content="{{ desc }}" />
  <meta name="keywords" content="{{ keywords }}">

  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:description" content="{{ desc }}" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:image" content="{{ page.featured_image | relative_url }}" />
  <meta property="og:type" content="article" />

  <meta name="fediverse:creator" content="@krigsvold@mastodon.social">

  <meta name="twitter:card" content="summary_large_image" />
  {% if page.heroImage %}
    <meta property="twitter:image" content="{{ page.heroImage | relative_url }}" />
    <meta property="og:image" content="{{ page.heroImage | relative_url }}" />
  {% endif %}
  {% if page.featured_image %}
    <meta property="twitter:image" content="{{ page.featured_image | relative_url }}" />
    <meta property="og:image" content="{{ page.featured_image | relative_url }}" />
  {% endif %}

  <meta property="twitter:title" content="{{ page.title }}" />
  <meta name="twitter:site" content="@k3jph" />
  <meta name="twitter:creator" content="@k3jph" />

  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />

  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42a187197b.js" crossorigin="anonymous"></script>

  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">

  <!-- CSS Files -->
  <link id="pagestyle" href="/assets/css/material-kit.css?v=3.0.4" rel="stylesheet" />

  <link href="{{ '/assets/css/cookiealert.css' | relative_url }}" rel="stylesheet" />
  <link href="{{ '/assets/css/krigsvold.css' | relative_url }}" rel="stylesheet" />

  <link rel="me" href="https://mastodon.social/@krigsvold" />

{% if page.layout == "post" %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "PressRelease",
  "@id": "{{ page.url | absolute_url }}#pressrelease",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ page.url | absolute_url }}"
  },
  "url": "{{ page.url | absolute_url }}",
  "headline": {{ page.title | jsonify }},
  "description": {{ page.excerpt | default: page.description | default: page.title | jsonify }},
  "inLanguage": "en-US",
  "isAccessibleForFree": true,
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "dateModified": "{{ page.last_modified_at | default: page.date | date_to_xmlschema }}",
{% if page.categories contains "Ellsworth" %}
  "author": {
    "@type": "Person",
    "name": "James P. Howard, II, Ellsworth King of Arms"
  }
{% else %}
  "author": {
    "@type": "Person",
    "name": "James P. Howard, II, Count of Krigsvold"
  }
{% endif %}
  "publisher": {
    "@type": "Organization",
    {% if page.categories contains "Ellsworth" %}
      "name": "Westarctican College of Arms",
      "url": "https://www.westarctica.info/college-of-arms",
      "logo": {
        "@type": "ImageObject",
          "url" :    "https://www.westarctica.wiki/images/4/4b/Wcoa_2.png",
        "height": 512
      }
    {% else %}
      "name": "Office of the Count of Krigsvold",
      "url": "https://krigsvold.org",
      "logo": {
        "@type": "ImageObject",   
        "url": "{{ '/assets/img/identity/favicon.svg' | absolute_url }}",
        "width": 512,
        "height": 512
      }
    {% endif %}
  },
  "image": [
    "{{ page.featured_image | absolute_url }}"
  ],
  "articleSection": "Press Release",
  "keywords": {{ page.tags | jsonify }},
  "articleBody": {{ page.content | markdownify | jsonify }}
}
</script>
{% endif %}

</head>
