<script src="{{ '/assets/js/core/popper.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/core/bootstrap.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/material-kit.min.js?v=3.0.4' | relative_url }}"></script>
<script src="{{ '/assets/js/gdpr-cookie.js' | relative_url }}"></script>
<script>
  cookieStart(
    {{ site.cookie_consent.ga_id | jsonify }},
    {{ site.cookie_consent.cookie_name | jsonify }},
    {{ site.cookie_consent.duration_days | jsonify }},
    {{ site.cookie_consent.policy_version | jsonify }}
  );
</script>
