<a class="skip-link" href="#main-content">Skip to main content</a>
<div class="nav-shell">
  <div class="container">
    <nav class="navbar navbar-expand-lg site-navbar" aria-label="Primary navigation">
      <a class="navbar-brand" href="{{ '/' | relative_url }}">
        <img src="{{ '/assets/img/identity/favicon.svg' | relative_url }}" alt="" width="34" height="34">
        <span>The Count of Krigsvold</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#primaryNavigation" aria-controls="primaryNavigation" aria-expanded="false" aria-label="Open navigation">
        <span class="navbar-toggler-icon" aria-hidden="true">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </span>
      </button>
      <div class="collapse navbar-collapse" id="primaryNavigation">
        <ul class="navbar-nav ms-auto align-items-lg-center">
          {% for item in site.data.settings.main_menu_settings.menu_items %}
          {% if item.submenu_items %}
          <li class="nav-item dropdown dropdown-hover">
            <button class="nav-link" id="nav-{{ item.title | slugify }}" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ item.title }} <span class="material-icons-round nav-caret" aria-hidden="true">expand_more</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="nav-{{ item.title | slugify }}">
              {% for subitem in item.submenu_items %}
              <li><a class="dropdown-item" href="{{ subitem.url | relative_url }}">{{ subitem.title }}</a></li>
              {% endfor %}
            </ul>
          </li>
          {% else %}
          <li class="nav-item"><a class="nav-link" href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
        <form class="site-search" action="{{ '/search/' | relative_url }}" method="get" role="search">
          <label class="visually-hidden" for="site-search">Search Krigsvold</label>
          <input id="site-search" type="search" name="q" placeholder="Search" autocomplete="off">
          <button type="submit" aria-label="Submit search"><span class="material-icons-round" aria-hidden="true">search</span></button>
        </form>
      </div>
    </nav>
  </div>
</div>
