<!-- Navbar -->
<div class="container position-sticky z-index-sticky top-0">
  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-expand-lg  blur border-radius-xl top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
        <div class="container-fluid">
          <a class="navbar-brand font-weight-bolder ms-sm-2" href="{{ site.url | relative_url }}" rel="tooltip" title="Home page">
            {{ site.title }}
          </a>
          <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon mt-2">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </span>
          </button>
          <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0" id="navigation">
            <ul class="navbar-nav navbar-nav-hover ms-lg-10 ps-lg-5 w-100">
              {% for item in site.data.settings.main_menu_settings.menu_items %}
              {% unless item.submenu_items %}
              <li class="nav-item mx-2">
                <a class="nav-link ps-2 d-flex cursor-pointer align-items-center"
                   href="{{ item.url | relative_url }}" class="nav-link">
                  <i class="material-icons opacity-6 me-2 text-md">{{ item.icon }}</i>
                  {{ item.title }}
                </a>
              </li>
              {% else %}
              <li class="nav-item dropdown dropdown-hover mx-2">
                <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" id="dropdownMenuAbout" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="material-icons opacity-6 me-2 text-md">{{ item.icon }}</i>
                  {{ item.title }} &nbsp;
                  <img src="/assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-auto">
                </a>
                <ul class="dropdown-menu dropdown-menu-animation dropdown-lg dropdown-lg-responsive p-3 border-radius-lg mt-0 mt-lg-3" aria-labelledby="dropdownMenuAbout">
                  <div class="d-none d-lg-block">
                    {% for subitem in item.submenu_items %}
                    <a href="{{ subitem.url | relative_url }}" class="dropdown-item border-radius-md">
                      <i class="material-icons opacity-6 me-2 text-md">{{ subitem.icon }}</i>
                      {{ subitem.title }}
                    </a>
                    {% endfor %}
                  </div>
                </ul>
              </li>
              {% endunless %}
              {% endfor %}
              {% for item in site.data.settings.social_media %}
              <li class="nav-item ms-lg-2">
                <a class="nav-link nav-link-icon mx-0 px-1" href="{{ item.url }}" target="_blank">
                  <i class="fa fa-{{ item.icon }} me-1"></i>
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>

