.bg-gradient-primary, .bg-gradient-dark {
    background: radial-gradient(#000000, #263e7c);
}

.accordion {
    --bs-accordion-color: #303030;
}

body {
    font-weight: initial;
    color: #303030;
}

p {
    font-weight: initial;
    color: #303030;
}

a {
    font-weight: bold;
}

.basu-howard-flag {
  max-width: 3em;
  border: 1px solid #303030;
}

.rotating-card-container .card .back::after, .rotating-card-container .card .front::after {
    background-image: linear-gradient(195deg, #5f76b0 0%, #263e7c 100%);
}

.text-gradient.text-primary {
    background-image: linear-gradient(195deg, #5f76b0 0%, #263e7c 100%);
}

@media (max-width: 991.98px) {
    .dropdown.nav-item .dropdown-menu-animation.show {
        height: auto;
    }
}

article figure {
  padding: 1em;
  margin: 0em;
}

.images-caption {
  margin-top: 0.5em;
  font-size: 85%;
  font-weight: bold;
  color: #404040;
  letter-spacing: 0;
}

.featured-img {
  max-width: 100%;
}

.figure-img {
  border-radius: 0rem;
  background-color: #263e7c20;
}

.search-box {
  width: 7em;
  height: 1.5em;
  color: black;
}
