<!--
    =========================================================
    * Material Kit 2 - v3.0.4
    =========================================================

    * Product Page:  https://www.creative-tim.com/product/material-kit
    * Copyright 2023 Creative Tim (https://www.creative-tim.com)
    * Coded by www.creative-tim.com

    =========================================================

    * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
  {% include head.html %}
  <body class="index-page bg-gray-200">
    {% include navbar.html %}

    {% if page.featured_image != nil %}
    <header class="header-2">
      <div class="page-header min-vh-75 relative" style="background-image: url('{{ page.featured_image | relative_url }}')">
        <span class="mask bg-gradient-primary opacity-7"></span>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center mx-auto">
              {% svg "/assets/img/identity/primary-logo-light.svg" class="w-100 col-sm-4" %}
              <p class="lead text-white mt-3">This we must protect.</p>
            </div>
          </div>
        </div>
      </div>
    </header>
    {% else %}

    {% endif %}

    <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">

      <section class="pt-3" id="count-stats">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 mx-auto py-3">
              <div class="row">
                <div class="col-md-4 position-relative">
                  <div class="p-3 text-center">
                    <h1 class="text-gradient text-primary"> <span id="state2" countTo="77">0</span>%</h1>
                    <h5 class="mt-3">Antarctic Penguin</h5>
                    <p class="text-sm font-weight-normal">Population loss since 1970</p>
                  </div>
                  <hr class="vertical dark">
                </div>
                <div class="col-md-4 position-relative">
                  <div class="p-3 text-center">
                    <h1 class="text-gradient text-primary"><span id="state1" countTo="411">0</span> million</h1>
                    <h5 class="mt-3">Metric Tons</h5>
                    <p class="text-sm font-weight-normal">Antarctic ice mass lost per <i>day</i> due to climate change since 2003</p>
                  </div>
                  <hr class="vertical dark">
                </div>
                <div class="col-md-4">
                  <div class="p-3 text-center">
                    <h1 class="text-gradient text-primary"><span id="state3" countTo="40">0</span>%</h1>
                    <h5 class="mt-3">Acidification Increase</h5>
                    <p class="text-sm font-weight-normal">In the Southern Ocean since the start of the Industrial Age</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="my-5 pb-5">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 ms-auto">
              <div class="row justify-content-start">
                <div class="col-md-6">
                  <a href="{{ '/rapid-ice-melt' | relative_url }}">
                    <div class="info">
                      <i class="material-icons text-gradient text-primary text-3xl">ac_unit</i>
                      <h5 class="font-weight-bolder mt-3">Rapid Ice Melt</h5>
                      <p class="pe-5">The West Antarctic Ice Sheet's accelerated melting contributes to global sea level rise.</p>
                    </div>
                  </a>
                </div>
                <div class="col-md-6">
                  <a href="{{ '/warming-continents' | relative_url }}">
                    <div class="info">
                      <i class="material-icons text-gradient text-primary text-3xl">thermostat</i>
                      <h5 class="font-weight-bolder mt-3">Warming Continents</h5>
                      <p class="pe-3">Antarctica's temperature rises, affecting ecosystems and ice stability.</p>
                    </div>
                  </a>
                </div>
                <div class="col-md-6 mt-3">
                  <a href="{{ '/endangered-ecosystems' | relative_url }}">
                    <div class="info">
                      <i class="material-icons text-gradient text-primary text-3xl">pets</i>
                      <h5 class="font-weight-bolder mt-3">Endangered Ecosystems</h5>
                      <p class="pe-5">Climate change disrupts food webs, threatening penguins, seals, and krill.</p>
                    </div>
                  </a>
                </div>
                <div class="col-md-6 mt-3">
                  <a href="{{ '/research-response' | relative_url }}">
                    <div class="info">
                      <i class="material-icons text-gradient text-primary text-3xl">science</i>
                      <h5 class="font-weight-bolder mt-3">Research and Response</h5>
                      <p class="pe-3">Scientific research drives efforts to mitigate Antarctica's climate impacts.</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 ms-auto me-auto p-lg-4 mt-lg-0 mt-4">
              <div class="rotating-card-container">
                <div class="card card-rotate card-background card-background-mask-primary shadow-primary mt-md-0 mt-5">
                  <div class="front front-background" style="background-image: url({{ '/assets/img/card-front.webp' | relative_url }}); background-size: cover;">
                    <div class="card-body py-7 text-center">
                      <i class="material-icons text-white text-4xl my-3">public</i>
                      <h3 class="text-white">Explore Antarctica's <br /> Climate Challenge</h3>
                      <p class="text-white text-bold opacity-8">Discover how Antarctica's fragile ecosystem is at the forefront of climate change.</p>
                    </div>
                  </div>
                  <div class="back back-background" style="background-image: url({{ '/assets/img/card-back.webp' | relative_url }}); background-size: cover;">
                    <div class="card-body pt-7 text-center">
                      <h3 class="text-white">Join the Cause</h3>
                      <p class="text-white text-bold opacity-8">Be part of a global effort to safeguard Antarctica. Every action counts towards a healthier planet.</p>
                      <a href="{{ '/get-involved' | relative_url }}" class="btn btn-white btn-sm w-50 mx-auto mt-3">Learn How to Help</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="py-4 position-relative">
        <div class="container-fluid">
          <div class="row">
            <div class="col-10 mx-auto bg-gradient-dark border-radius-lg">
              <div class="row py-5">
                <div class="col-xl-4 col-md-6 px-5 position-relative">
                  <img class="img border-radius-md max-width-300 w-100 position-relative z-index-2 mt-n7" src="{{ '/assets/img/apollo-4.webp' | relative_url }}" loading="lazy" alt="card image">
                </div>
                <div class="col-xl-4 col-md-5 z-index-2 position-relative px-md-3 px-5 my-md-auto mt-4">
                  <i class="material-icons text-white text-5xl">format_quote</i>
                  <p class="text-lg text-white">
                    The thing that is most beautiful about Antarctica
                    for me is the light. It's like no other light on
                    Earth, because the air is so free of impurities.
                    You get drugged by it, like when you listen to one
                    of your favorite songs. The light there is a
                    mood-enhancing substance.
                  </p>
                  <p class="text-white font-weight-bold text-sm">Jon Krakauer - <span class="text-xs font-weight-normal">Author</span></p>
                  <hr class="vertical start-100 ms-n5 d-xl-block d-none">
                </div>
                <div class="col-1"></div>
                <div class="col-xl-2 col-12 px-xl-0 px-5 my-xl-auto">
                  <h3 class="text-white mt-xl-0 mt-5">49 billion tons</h3>
                  <p class="text-sm text-white opacity-8">Amount of carbon-dioxide absorbed by the Antarctic ice sheets per year</p>
                  <a href="{{ '/carbon-sequestration' | relative_url }}" class="text-white icon-move-right text-sm">Learn more
                    <i class="fas fa-arrow-right text-xs ms-1"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
    {% include footer.html %}
  </body>
  {% include jscode.html %}
</html>
