<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
  {% include head.html %}
  <body class="index-page bg-gray-200">
    {% include navbar.html %}

    {% if page.featured_image %}
    <header class="bg-gradient-dark">
      <div class="page-header min-vh-25" style="background-image: url('{{ page.featured_image | relative_url }}');">
        <span class="mask bg-gradient-dark opacity-7"></span>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8 text-center mx-auto my-auto">
              <h1 class="text-white">{{ page.title }}</h1>
            </div>
          </div>
        </div>
      </div>
    </header>
    {% endif %}
    <section class="pt-3 pt-md-5">
      <div class="container">
        <div class="col-12 mx-auto">
          <div class="card shadow-lg">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-info shadow-info border-radius-lg p-4">
                <h3 class="text-white mb-0">{{ page.subtitle }}</h3>
              </div>
            </div>
            <div class="card-body p-sm-5 pt-4">
              {{ content | markdownify }}
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include footer.html %}
  </body>
  {% include jscode.html %}
</html>
